<div class="embed-responsive embed-responsive-16by9">
    <video autoplay muted loop id="VideoStream">
        <source src="assets/landing.webm" type="video/webm">
    </video>
</div>

<!-- Optional: some overlay text to describe the video -->
<div class="content">
    <img src="assets/crowdrepel1024.png" id="logo">
    <br />
    <font size="10"> <p style="text-align:center; font-weight: bold; margin-top: 10px;">CrowdRepel</p></font>
    <br />
    <font size="4">
        <p style="text-align:center; font-weight: 600;">
        Crowd Analytics with Deep Learning and Computer Vision
        </p>
    </font>
</div>